@import "./base.css";

:root {
  --radius: 1rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.143 0.003 270.68023316362854);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.143 0.003 270.68023316362854);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.143 0.003 270.68023316362854);
  --primary: oklch(0.461 0.228 264.266002299226);
  --primary-foreground: oklch(0.96 0.003 271.3835535226411);
  --secondary: oklch(0.87 0.02 271.17770528624953);
  --secondary-foreground: oklch(0.203 0.02 270.2523067554245);
  --muted: oklch(0.87 0.02 271.17770528624953);
  --muted-foreground: oklch(0.503 0.085 269.1709114215919);
  --accent: oklch(0.755 0.078 270.1640905667387);
  --accent-foreground: oklch(0.191 0.044 268.15800650331965);
  --destructive: oklch(0.58 0.237 28.43022926835137);
  --border: oklch(0.826 0.028 271.0687299245204);
  --input: oklch(0.826 0.028 271.0687299245204);
  --ring: oklch(0.461 0.228 264.266002299226);
  --chart-1: oklch(0.461 0.228 264.266002299226);
  --chart-2: oklch(0.592 0.168 267.28558461475245);
  --chart-3: oklch(0.706 0.096 269.6936889200921);
  --chart-4: oklch(0.348 0.172 264.22618429184394);
  --chart-5: oklch(0.268 0.119 264.75465779693485);
  --sidebar: oklch(0.87 0.02 271.17770528624953);
  --sidebar-foreground: oklch(0.203 0.02 270.2523067554245);
  --sidebar-primary: oklch(0.461 0.228 264.266002299226);
  --sidebar-primary-foreground: oklch(0.96 0.003 271.3835535226411);
  --sidebar-accent: oklch(0.755 0.078 270.1640905667387);
  --sidebar-accent-foreground: oklch(0.191 0.044 268.15800650331965);
  --sidebar-border: oklch(0.826 0.028 271.0687299245204);
  --sidebar-ring: oklch(0.461 0.228 264.266002299226);
}
