@import "./base.css";

:root {
  --radius: 1rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.003 207.7451559284352);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.003 207.7451559284352);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.003 207.7451559284352);
  --primary: oklch(0.726 0.125 212.5059731518242);
  --primary-foreground: oklch(0.963 0.002 207.92173320861224);
  --secondary: oklch(0.894 0.018 207.8607421319023);
  --secondary-foreground: oklch(0.226 0.016 207.91644176177255);
  --muted: oklch(0.894 0.018 207.8607421319023);
  --muted-foreground: oklch(0.603 0.064 208.27660718094336);
  --accent: oklch(0.847 0.063 207.93735395706867);
  --accent-foreground: oklch(0.242 0.031 208.76646218816893);
  --destructive: oklch(0.58 0.237 28.43022926835137);
  --border: oklch(0.859 0.024 207.84464480228698);
  --input: oklch(0.859 0.024 207.84464480228698);
  --ring: oklch(0.726 0.125 212.5059731518242);
  --chart-1: oklch(0.726 0.125 212.5059731518242);
  --chart-2: oklch(0.788 0.111 209.2858363174381);
  --chart-3: oklch(0.818 0.074 208.07690569731272);
  --chart-4: oklch(0.548 0.094 212.53520800709893);
  --chart-5: oklch(0.406 0.068 211.50945245333034);
  --sidebar: oklch(0.894 0.018 207.8607421319023);
  --sidebar-foreground: oklch(0.226 0.016 207.91644176177255);
  --sidebar-primary: oklch(0.726 0.125 212.5059731518242);
  --sidebar-primary-foreground: oklch(0.963 0.002 207.92173320861224);
  --sidebar-accent: oklch(0.847 0.063 207.93735395706867);
  --sidebar-accent-foreground: oklch(0.242 0.031 208.76646218816893);
  --sidebar-border: oklch(0.859 0.024 207.84464480228698);
  --sidebar-ring: oklch(0.726 0.125 212.5059731518242);
}
