@import "./base.css";

:root {
    --radius: 1rem;
    --background: oklch(1.000 0.000 0);
    --foreground: oklch(0.147 0.006 144.81520097939756);
    --card: oklch(1.000 0.000 0);
    --card-foreground: oklch(0.147 0.006 144.81520097939756);
    --popover: oklch(1.000 0.000 0);
    --popover-foreground: oklch(0.147 0.006 144.81520097939756);
    --primary: oklch(0.727 0.209 142.83569123566863);
    --primary-foreground: oklch(0.969 0.023 144.93204077344237);
    --secondary: oklch(0.932 0.004 145.07079711561852);
    --secondary-foreground: oklch(0.217 0.006 144.89827595093408);
    --muted: oklch(0.932 0.004 145.07079711561852);
    --muted-foreground: oklch(0.608 0.122 143.55847138926717);
    --accent: oklch(0.869 0.050 144.68843028082753);
    --accent-foreground: oklch(0.230 0.036 143.93558324065353);
    --destructive: oklch(0.580 0.237 28.43022926835137);
    --border: oklch(0.856 0.008 145.0314610325132);
    --input: oklch(0.856 0.008 145.0314610325132);
    --ring: oklch(0.727 0.209 142.83569123566863);
    --chart-1: oklch(0.727 0.209 142.83569123566863);
    --chart-2: oklch(0.778 0.116 143.98005787756395);
    --chart-3: oklch(0.830 0.051 144.65880607796473);
    --chart-4: oklch(0.590 0.182 142.6601805774876);
    --chart-5: oklch(0.459 0.134 142.79159921235862);
    --sidebar: oklch(0.932 0.004 145.07079711561852);
    --sidebar-foreground: oklch(0.217 0.006 144.89827595093408);
    --sidebar-primary: oklch(0.727 0.209 142.83569123566863);
    --sidebar-primary-foreground: oklch(0.969 0.023 144.93204077344237);
    --sidebar-accent: oklch(0.869 0.050 144.68843028082753);
    --sidebar-accent-foreground: oklch(0.230 0.036 143.93558324065353);
    --sidebar-border: oklch(0.856 0.008 145.0314610325132);
    --sidebar-ring: oklch(0.727 0.209 142.83569123566863);
}