:root {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --radius: 1rem;
    --background: oklch(1.000 0.000 0);
    --foreground: oklch(0.147 0.006 144.81520097939756);
    --card: oklch(1.000 0.000 0);
    --card-foreground: oklch(0.147 0.006 144.81520097939756);
    --popover: oklch(1.000 0.000 0);
    --popover-foreground: oklch(0.147 0.006 144.81520097939756);
    --primary: oklch(0.727 0.209 142.83569123566863);
    --primary-foreground: oklch(0.969 0.023 144.93204077344237);
    --secondary: oklch(0.932 0.004 145.07079711561852);
    --secondary-foreground: oklch(0.217 0.006 144.89827595093408);
    --muted: oklch(0.932 0.004 145.07079711561852);
    --muted-foreground: oklch(0.608 0.122 143.55847138926717);
    --accent: oklch(0.869 0.050 144.68843028082753);
    --accent-foreground: oklch(0.230 0.036 143.93558324065353);
    --destructive: oklch(0.580 0.237 28.43022926835137);
    --border: oklch(0.856 0.008 145.0314610325132);
    --input: oklch(0.856 0.008 145.0314610325132);
    --ring: oklch(0.727 0.209 142.83569123566863);
    --chart-1: oklch(0.727 0.209 142.83569123566863);
    --chart-2: oklch(0.778 0.116 143.98005787756395);
    --chart-3: oklch(0.830 0.051 144.65880607796473);
    --chart-4: oklch(0.590 0.182 142.6601805774876);
    --chart-5: oklch(0.459 0.134 142.79159921235862);
    --sidebar: oklch(0.932 0.004 145.07079711561852);
    --sidebar-foreground: oklch(0.217 0.006 144.89827595093408);
    --sidebar-primary: oklch(0.727 0.209 142.83569123566863);
    --sidebar-primary-foreground: oklch(0.969 0.023 144.93204077344237);
    --sidebar-accent: oklch(0.869 0.050 144.68843028082753);
    --sidebar-accent-foreground: oklch(0.230 0.036 143.93558324065353);
    --sidebar-border: oklch(0.856 0.008 145.0314610325132);
    --sidebar-ring: oklch(0.727 0.209 142.83569123566863);
}

.dark {
    --background: oklch(0.230 0.036 143.93558324065353);
    --foreground: oklch(0.963 0.004 145.0688706435092);
    --card: oklch(0.278 0.047 143.81847784332336);
    --card-foreground: oklch(0.963 0.004 145.0688706435092);
    --popover: oklch(0.278 0.047 143.81847784332336);
    --popover-foreground: oklch(0.963 0.004 145.0688706435092);
    --primary: oklch(0.764 0.210 142.94007216493156);
    --primary-foreground: oklch(0.969 0.026 144.91334800113455);
    --secondary: oklch(0.286 0.018 144.63564406673336);
    --secondary-foreground: oklch(0.963 0.004 145.0688706435092);
    --muted: oklch(0.286 0.018 144.63564406673336);
    --muted-foreground: oklch(0.740 0.048 144.63533822139715);
    --accent: oklch(0.467 0.090 143.6186724732651);
    --accent-foreground: oklch(0.966 0.013 145.00680493920623);
    --destructive: oklch(0.580 0.237 28.43022926835137);
    --border: oklch(0.395 0.041 144.335175903116);
    --input: oklch(0.395 0.041 144.335175903116);
    --ring: oklch(0.764 0.210 142.94007216493156);
    --chart-1: oklch(0.764 0.210 142.94007216493156);
    --chart-2: oklch(0.836 0.164 143.60177115609554);
    --chart-3: oklch(0.890 0.119 144.10200811387188);
    --chart-4: oklch(0.614 0.171 142.9073365220199);
    --chart-5: oklch(0.484 0.115 143.24468732913397);
    --sidebar: oklch(0.370 0.068 143.69185489169422);
    --sidebar-foreground: oklch(0.963 0.004 145.0688706435092);
    --sidebar-primary: oklch(0.764 0.210 142.94007216493156);
    --sidebar-primary-foreground: oklch(0.969 0.026 144.91334800113455);
    --sidebar-accent: oklch(0.467 0.090 143.6186724732651);
    --sidebar-accent-foreground: oklch(0.966 0.013 145.00680493920623);
    --sidebar-border: oklch(0.395 0.041 144.335175903116);
    --sidebar-ring: oklch(0.764 0.210 142.94007216493156);
}

* {
    border-color: var(--border);
    outline-color: var(--ring);
}

body {
    background-color: var(--background);
    color: var(--foreground);
}