@import "./base.css";

:root {
  --radius: 1rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.143 0.004 9.228910776144627);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.143 0.004 9.228910776144627);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.143 0.004 9.228910776144627);
  --primary: oklch(0.639 0.209 19.187938397428415);
  --primary-foreground: oklch(0.96 0.003 8.978822242543483);
  --secondary: oklch(0.966 0.006 9.045672833533429);
  --secondary-foreground: oklch(0.205 0.021 11.395885234220613);
  --muted: oklch(0.966 0.006 9.045672833533429);
  --muted-foreground: oklch(0.517 0.092 13.393641517734977);
  --accent: oklch(0.886 0.038 9.923733066225129);
  --accent-foreground: oklch(0.199 0.047 15.270104237596781);
  --destructive: oklch(0.58 0.237 28.43022926835137);
  --border: oklch(0.88 0.02 9.446318172008358);
  --input: oklch(0.88 0.02 9.446318172008358);
  --ring: oklch(0.639 0.209 19.187938397428415);
  --chart-1: oklch(0.639 0.209 19.187938397428415);
  --chart-2: oklch(0.756 0.108 12.414259009285265);
  --chart-3: oklch(0.857 0.048 10.239842354721565);
  --chart-4: oklch(0.562 0.224 25.47433371582029);
  --chart-5: oklch(0.46 0.179 24.177078568326063);
  --sidebar: oklch(0.966 0.006 9.045672833533429);
  --sidebar-foreground: oklch(0.205 0.021 11.395885234220613);
  --sidebar-primary: oklch(0.639 0.209 19.187938397428415);
  --sidebar-primary-foreground: oklch(0.96 0.003 8.978822242543483);
  --sidebar-accent: oklch(0.886 0.038 9.923733066225129);
  --sidebar-accent-foreground: oklch(0.199 0.047 15.270104237596781);
  --sidebar-border: oklch(0.88 0.02 9.446318172008358);
  --sidebar-ring: oklch(0.639 0.209 19.187938397428415);
}
