@import "./base.css";

:root {
  --radius: 1rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.144 0.005 323.8495260321665);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.144 0.005 323.8495260321665);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.144 0.005 323.8495260321665);
  --primary: oklch(0.595 0.272 324.8742297066751);
  --primary-foreground: oklch(0.961 0.004 323.6586744568382);
  --secondary: oklch(0.875 0.032 323.8254037294861);
  --secondary-foreground: oklch(0.209 0.03 324.33996648706045);
  --muted: oklch(0.875 0.032 323.8254037294861);
  --muted-foreground: oklch(0.534 0.127 324.7046799952851);
  --accent: oklch(0.779 0.12 324.3769288106464);
  --accent-foreground: oklch(0.208 0.063 324.91568405549583);
  --destructive: oklch(0.58 0.237 28.43022926835137);
  --border: oklch(0.833 0.044 323.9025940920803);
  --input: oklch(0.833 0.044 323.9025940920803);
  --ring: oklch(0.595 0.272 324.8742297066751);
  --chart-1: oklch(0.595 0.272 324.8742297066751);
  --chart-2: oklch(0.667 0.233 325.02373471807516);
  --chart-3: oklch(0.738 0.145 324.55041326344224);
  --chart-4: oklch(0.449 0.205 324.8710938330631);
  --chart-5: oklch(0.333 0.147 325.00206480658807);
  --sidebar: oklch(0.875 0.032 323.8254037294861);
  --sidebar-foreground: oklch(0.209 0.03 324.33996648706045);
  --sidebar-primary: oklch(0.595 0.272 324.8742297066751);
  --sidebar-primary-foreground: oklch(0.961 0.004 323.6586744568382);
  --sidebar-accent: oklch(0.779 0.12 324.3769288106464);
  --sidebar-accent-foreground: oklch(0.208 0.063 324.91568405549583);
  --sidebar-border: oklch(0.833 0.044 323.9025940920803);
  --sidebar-ring: oklch(0.595 0.272 324.8742297066751);
}
