@import "./base.css";

:root {
  --radius: 1rem;
  --background: oklch(1.000 0.000 0);
  --foreground: oklch(0.143 0.004 10.405578698737102);
  --card: oklch(1.000 0.000 0);
  --card-foreground: oklch(0.143 0.004 10.405578698737102);
  --popover: oklch(1.000 0.000 0);
  --popover-foreground: oklch(0.143 0.004 10.405578698737102);
  --primary: oklch(0.553 0.218 25.35031226882463);
  --primary-foreground: oklch(0.960 0.003 10.143444253259629);
  --secondary: oklch(0.871 0.021 10.638214990460243);
  --secondary-foreground: oklch(0.205 0.021 12.492238888711112);
  --muted: oklch(0.871 0.021 10.638214990460243);
  --muted-foreground: oklch(0.516 0.092 14.457968329536163);
  --accent: oklch(0.763 0.084 12.655742570197962);
  --accent-foreground: oklch(0.199 0.047 16.309997945957974);
  --destructive: oklch(0.580 0.237 28.43022926835137);
  --border: oklch(0.828 0.029 10.879987009716718);
  --input: oklch(0.828 0.029 10.879987009716718);
  --ring: oklch(0.553 0.218 25.35031226882463);
  --chart-1: oklch(0.553 0.218 25.35031226882463);
  --chart-2: oklch(0.632 0.177 17.973882550430602);
  --chart-3: oklch(0.718 0.103 13.51421507388347);
  --chart-4: oklch(0.418 0.165 25.390091515083288);
  --chart-5: oklch(0.311 0.117 23.504653233967957);
  --sidebar: oklch(0.871 0.021 10.638214990460243);
  --sidebar-foreground: oklch(0.205 0.021 12.492238888711112);
  --sidebar-primary: oklch(0.553 0.218 25.35031226882463);
  --sidebar-primary-foreground: oklch(0.960 0.003 10.143444253259629);
  --sidebar-accent: oklch(0.763 0.084 12.655742570197962);
  --sidebar-accent-foreground: oklch(0.199 0.047 16.309997945957974);
  --sidebar-border: oklch(0.828 0.029 10.879987009716718);
  --sidebar-ring: oklch(0.553 0.218 25.35031226882463);
}