:root {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --radius: 1rem;
    --background: oklch(1.000 0.000 0);
    --foreground: oklch(0.148 0.003 187.24962953976674);
    --card: oklch(1.000 0.000 0);
    --card-foreground: oklch(0.148 0.003 187.24962953976674);
    --popover: oklch(1.000 0.000 0);
    --popover-foreground: oklch(0.148 0.003 187.24962953976674);
    --primary: oklch(0.815 0.118 183.06429018582702);
    --primary-foreground: oklch(0.974 0.018 187.30009221006821);
    --secondary: oklch(0.970 0.001 187.71917964441673);
    --secondary-foreground: oklch(0.218 0.004 187.3011836528471);
    --muted: oklch(0.970 0.001 187.71917964441673);
    --muted-foreground: oklch(0.622 0.072 184.44775219235572);
    --accent: oklch(0.924 0.023 187.13022192576568);
    --accent-foreground: oklch(0.237 0.024 184.91245562774583);
    --destructive: oklch(0.580 0.237 28.43022926835137);
    --border: oklch(0.895 0.004 187.6406499349042);
    --input: oklch(0.895 0.004 187.6406499349042);
    --ring: oklch(0.815 0.118 183.06429018582702);
    --chart-1: oklch(0.815 0.118 183.06429018582702);
    --chart-2: oklch(0.859 0.066 185.73429019253516);
    --chart-3: oklch(0.905 0.029 186.95605856133588);
    --chart-4: oklch(0.751 0.132 180.3889831247153);
    --chart-5: oklch(0.611 0.105 180.99143369995662);
    --sidebar: oklch(0.970 0.001 187.71917964441673);
    --sidebar-foreground: oklch(0.218 0.004 187.3011836528471);
    --sidebar-primary: oklch(0.815 0.118 183.06429018582702);
    --sidebar-primary-foreground: oklch(0.974 0.018 187.30009221006821);
    --sidebar-accent: oklch(0.924 0.023 187.13022192576568);
    --sidebar-accent-foreground: oklch(0.237 0.024 184.91245562774583);
    --sidebar-border: oklch(0.895 0.004 187.6406499349042);
    --sidebar-ring: oklch(0.815 0.118 183.06429018582702);
}

.dark {
    --background: oklch(0.234 0.021 185.28277569790615);
    --foreground: oklch(0.964 0.003 187.67795904531417);
    --card: oklch(0.284 0.028 185.0311487010429);
    --card-foreground: oklch(0.964 0.003 187.67795904531417);
    --popover: oklch(0.284 0.028 185.0311487010429);
    --popover-foreground: oklch(0.964 0.003 187.67795904531417);
    --primary: oklch(0.803 0.112 183.3824733650739);
    --primary-foreground: oklch(0.973 0.016 187.33397475339214);
    --secondary: oklch(0.342 0.014 186.67890812854412);
    --secondary-foreground: oklch(0.964 0.003 187.67795904531417);
    --muted: oklch(0.342 0.014 186.67890812854412);
    --muted-foreground: oklch(0.746 0.030 186.74070266926415);
    --accent: oklch(0.562 0.071 184.02809589623033);
    --accent-foreground: oklch(0.968 0.010 187.5048753292137);
    --destructive: oklch(0.580 0.237 28.43022926835137);
    --border: oklch(0.441 0.028 186.08055304256473);
    --input: oklch(0.441 0.028 186.08055304256473);
    --ring: oklch(0.803 0.112 183.3824733650739);
    --chart-1: oklch(0.803 0.112 183.3824733650739);
    --chart-2: oklch(0.855 0.096 184.54797432812694);
    --chart-3: oklch(0.905 0.072 185.6332032842297);
    --chart-4: oklch(0.677 0.104 182.56598988123645);
    --chart-5: oklch(0.541 0.073 183.60099496793777);
    --sidebar: oklch(0.378 0.040 184.75217707381333);
    --sidebar-foreground: oklch(0.964 0.003 187.67795904531417);
    --sidebar-primary: oklch(0.803 0.112 183.3824733650739);
    --sidebar-primary-foreground: oklch(0.973 0.016 187.33397475339214);
    --sidebar-accent: oklch(0.562 0.071 184.02809589623033);
    --sidebar-accent-foreground: oklch(0.968 0.010 187.5048753292137);
    --sidebar-border: oklch(0.441 0.028 186.08055304256473);
    --sidebar-ring: oklch(0.803 0.112 183.3824733650739);
}

* {
    border-color: var(--border);
    outline-color: var(--ring);
}

body {
    background-color: var(--background);
    color: var(--foreground);
}