@import "./base.css";

:root {
  --radius: 1rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.148 0.003 187.24962953976674);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.148 0.003 187.24962953976674);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.148 0.003 187.24962953976674);
  --primary: oklch(0.815 0.118 183.06429018582702);
  --primary-foreground: oklch(0.974 0.018 187.30009221006821);
  --secondary: oklch(0.97 0.001 187.71917964441673);
  --secondary-foreground: oklch(0.218 0.004 187.3011836528471);
  --muted: oklch(0.97 0.001 187.71917964441673);
  --muted-foreground: oklch(0.622 0.072 184.44775219235572);
  --accent: oklch(0.924 0.023 187.13022192576568);
  --accent-foreground: oklch(0.237 0.024 184.91245562774583);
  --destructive: oklch(0.58 0.237 28.43022926835137);
  --border: oklch(0.895 0.004 187.6406499349042);
  --input: oklch(0.895 0.004 187.6406499349042);
  --ring: oklch(0.815 0.118 183.06429018582702);
  --chart-1: oklch(0.815 0.118 183.06429018582702);
  --chart-2: oklch(0.859 0.066 185.73429019253516);
  --chart-3: oklch(0.905 0.029 186.95605856133588);
  --chart-4: oklch(0.751 0.132 180.3889831247153);
  --chart-5: oklch(0.611 0.105 180.99143369995662);
  --sidebar: oklch(0.97 0.001 187.71917964441673);
  --sidebar-foreground: oklch(0.218 0.004 187.3011836528471);
  --sidebar-primary: oklch(0.815 0.118 183.06429018582702);
  --sidebar-primary-foreground: oklch(0.974 0.018 187.30009221006821);
  --sidebar-accent: oklch(0.924 0.023 187.13022192576568);
  --sidebar-accent-foreground: oklch(0.237 0.024 184.91245562774583);
  --sidebar-border: oklch(0.895 0.004 187.6406499349042);
  --sidebar-ring: oklch(0.815 0.118 183.06429018582702);
}
